{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Điện Nước Xuân Hạt{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <img src="{% static 'images/logo.jpg' %}" alt="Điện Nước Xuân Hạt Logo" class="logo">
            <div class="slogan">
                chuyên cung cấp dịch vụ sửa điện nước, sửa máy bơm, thông tắc công, thi công chống thấm dột, sửa chữa nhà uy tín
            </div>
            <div class="hotline">
                <a href="tel:0836493228" class="hotline-btn">0836 493 228</a>
            </div>
        </div>
        <nav class="navbar">
            <div class="hamburger">☰</div> <!-- Biểu tượng hamburger -->
            <ul class="menu">
                <li><a href="{% url 'home' %}">Trang chủ</a></li>
                <li><a href="{% url 'gioi-thieu' %}">Giới thiệu</a></li>
                <li><a href="{% url 'dich-vu' %}">Dịch vụ điện nước</a></li>
                <li><a href="{% url 'san-pham' %}">Sản phẩm</a></li>
                <li><a href="{% url 'lien-he' %}">Liên hệ</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <h3>NHÀ THẦU ĐIỆN NƯỚC XUÂN HẠT</h3>
                <p>Địa chỉ: An Hội Bắc, Hoài Sơn, Hoài Nhơn,Bình Định, Việt Nam</p>
                <p>Hotline: +84836493228 | Email: nchi88073@gmail.com</p>
                <p>MST: 0101501041</p>
            </div>
            <div class="footer-right">
                <h3>CHỈ SÁCH</h3>
                <p>Cửa hàng bán hàng</p>
                <p>Chỉ đường bản đồ</p>
                <p>Chỉ đường qua email</p>
                <p>Quyền và nghĩa vụ của các bên</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Điện Nước Xuân Hạt. All rights reserved.</p>
        </div>
    </footer>

    <script>
        document.querySelector('.hamburger').addEventListener('click', function() {
            document.querySelector('.menu').classList.toggle('active');
        });
    </script>
</body>
</html>